<!DOCTYPE html>

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='tailwindcss-colors.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Create QR</title>
</head>

<body>
    <strong>Create QR</strong>
    <form action="{{ url_for('qr.create_qr_code') }}" method="POST">
        <textarea name="description" placeholder="Enter text"></textarea>
        <button type="submit">Create QR</button>
    </form>
</body>