{% extends 'layout.html' %}

{% block title %} Create QR {% endblock %}
{% block body %}
<div class="card" style="margin-right: 1em; margin-left: 1em; padding: 1em;">
    <form action="{{ url_for('qr.create_qr_code') }}" method="POST">
        <div class="mb-3">
            <label for="qr_code_title" class="form-label">Description</label>
            <input type="text" class="form-control" name="description" id="qr_code_title"
                aria-describedby="qr_code_title_help">
            <div id="qr_code_title_help" class="form-text">Short, descriptive summary of the object you're making a QR
                for.</div>
        </div>
        <button type="submit" class="btn btn-primary">Create QR</button>
    </form>
</div>
{% endblock %}