{% extends 'layout.html' %}

{% block title %} Index {% endblock %}

{% block body %}
<h1>Welcome, Francis.</h1>

{% if recent_ping %}
<h1>You received a ping recently.</h1>
<br>
<div class="card" style="margin-right: 1em; margin-left: 1em;">
    <iframe src="{{ gmaps_embed_link }}"></iframe>
    <div class="card-body">
        <h5 class="card-title">{{ recent_ping_title }}</h5>
        <p class="card-text">{{ recent_ping.description }}</p>
        <a href="{{ gmaps_link }}" class="btn btn-primary">Google Maps</a>
    </div>
    <div class="btn-group">
        <button class="btn btn-secondary btn-lg dropdown-toggle" type="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            View images
        </button>
        <ul class="dropdown-menu">
            {% for image_url in image_urls %}
            <li>
                <img src="{{ image_url }}">
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
<br>
{% else %}
<h1>You have no recent pings.</h1>
{% endif %}

</div>
{% endblock %}