{% extends 'layout.html' %}

{% block title %} View QR code ping {% endblock %}

{% block body %}
<div class="card" style="margin-right: 1em; margin-left: 1em;">
    <iframe src="{{ gmaps_embed_link }}"></iframe>
    <div class="card-body">
        <h5 class="card-title">{{ qr_code_ping_title }}</h5>
        <p class="card-text">{{ qr_code_ping_description }}</p>
        <a href="{{ gmaps_link }}" class="btn btn-primary">Google Maps</a>
    </div>
    <div class="btn-group">
        <button class="btn btn-secondary btn-lg dropdown-toggle" type="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            View images
        </button>
        <ul class="dropdown-menu">
            {% for image_url in image_urls %}
            <li>
                <img src="{{ image_url }}">
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}